<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Attrition Detection</title>

  <!-- Custom styles for this template -->
  <link  rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}"  type="text/css">
</head>

<body>

   
  <header id="header">
    <div>
      <center>
        <h1 id="title">Welcome to the Attrition Detection project</h1>
      <p id="description">An ML project where you can determine attrition of your employee just by giving few inputs</p>
      </center>
    </div>
  </header>

  {% block body %}

  {% endblock %}

</body>

</html>

