#header {
    padding: 15px  15px;
    background-color: rgb(67, 21, 88);
  }

#title {
  text-align: center;
  color: white;
}

#description {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

h2{
  text-align: center;
}

/* form */

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 30%;
  background-color: #f2f2f2;
  padding: 15px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 95%;
  margin-bottom: 20px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: medium;
}

select {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: medium;
}

option {
  font-size: medium;
}

label {
  margin-bottom: 10px;
  display: block;
  font-size: medium;
}

.btn {
  background-color: rgb(67, 21, 88);
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.result-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 30%;
  background-color: #f2f2f2;
  padding: 15px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  text-align: center;
}

.result-img{
  width: 250px;
  height: 200px;
}

@media screen and (max-width: 480px) {
  .container {
    width: 85%;
  }

  .result-container {
    width: 85%;
  }
}